$color: rgb(144, 183, 215);

body {
  background-color: rgb(153, 211, 192);
  font-family: 'Anonymous Pro', monospace;
}

div {
  margin: 15px;
}

button {
  margin: 15px;
  border-radius: 5px;
  background-color: $color;
  border: 1px solid black;
  font-family: 'Anonymous Pro', monospace;
}

.movieAPI {
  color: $color;
}