$color: #96bfe0;
$body-bg: #a3e0cc;
$text: #0a0a0a;
@import '~bootstrap/scss/bootstrap.scss';

body {
  background-color: $body-bg;
  font-family: 'Anonymous Pro', monospace;
}

h1, h2, h3 {
  margin: 30px;
}

div {
  margin: 5px;
}

input {
  margin: 5px;
}

button {
  margin: 15px;
  border-radius: 5px;
  background-color: $color;
  border: 1px solid black;
  font-family: 'Anonymous Pro', monospace;
}

h1,h2,h3 {
  margin: 15px;
}

.movieAPI {
  color: $color;
}

.card-body {
  color: $text;
  background-color: $color;
  border-radius: 5px;
}

form {
  background-color: $color;
  border-radius: 5px;
}

.justify-content-md-center {
  background-color: $body-bg;
}

.form-control, .form-control:focus {
  background-color: #f8f9fa;
}

// MOVIE CARD
.title {
  margin-top: 10px;
}

.card-image{
  padding: 5px;
  height: 350px !important;
  object-fit: cover;
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel-indicators {
  margin-bottom: 0px;
}

.carousel-inner {
  margin: 0px;
}

.my-carousel {
  height: 800px;
}