$color: #96bfe0;

body {
  background-color: #a3e0cc;
  font-family: 'Anonymous Pro', monospace;
}

h1, h2, h3 {
  margin: 30px;
}

div {
  margin: 15px;
}

input {
  margin: 5px;
}

button {
  margin: 15px;
  border-radius: 5px;
  background-color: $color;
  border: 1px solid black;
  font-family: 'Anonymous Pro', monospace;
}

h1,h2,h3 {
  margin: 15px;
}

.movieAPI {
  color: $color;
}